<?xml version="1.0" encoding="utf-8" ?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="false"
    stopOnFailure="false"
    printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printer"
>
  <testsuites>
    <testsuite name="Unit tests">
      <directory>tests/unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
